# OpenAI API 配置
OPENAI_API_KEY=sk-XXX
OPENAI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
MODEL_NAME=qwen-plus

# 用于身份验证，实现链路上报  
LANGCHAIN_API_KEY=XXX
# 指定LangSmith中的项目，追踪结果会归类到该项目下
LANGCHAIN_PROJECT=langsmith-test
# 开启LangSmith追踪功能
LANGCHAIN_TRACING_V2=true
